In [72]:
import pandas as pd

In [73]:
df = pd.read_csv('electorate-results.csv')

# Transformation
## Checking for empty

In [74]:
# dropping empty cells
df = df.dropna()

In [75]:
# view 1st 5 rows
df.head()

,electoral_division,state,yes,no,response_clear,response_unclear,nonresponding
0,Banks,New South Wales,37736,46343,84079,247,20928
1,Barton,New South Wales,37153,47984,85137,226,24008
2,Bennelong,New South Wales,42943,43215,86158,244,19973
3,Berowra,New South Wales,48471,40369,88840,212,16038
4,Blaxland,New South Wales,20406,57926,78332,220,25883

In [76]:
# identify the data types
df.dtypes

electoral_division    object
state                 object
yes                    int64
no                     int64
response_clear         int64
response_unclear       int64
nonresponding          int64
dtype: object

In [77]:
# total number of rows in table
len(df)

150

In [78]:
# duplicates removed from tables except the first occurence
df.drop_duplicates(subset='electoral_division', keep='first', inplace=True)

In [79]:
# identify number of duplicates by subtracting it from the total len indentified
len(df)

150

In [80]:
# statistical description of data
df.describe()

            yes        no  response_clear  response_unclear  nonresponding
count    150.00    150.00          150.00            150.00         150.00
mean  52,114.98 32,493.25       84,608.23            244.57      21,855.07
std   12,315.11  8,262.79       10,318.85             55.90       4,197.47
min   19,026.00 14,860.00       34,924.00            106.00      13,092.00
25%   44,619.75 28,452.25       80,220.75            207.25      18,951.00
50%   51,782.50 31,653.50       85,726.50            240.00      21,416.50
75%   59,878.75 36,726.75       90,369.75            276.00      24,513.25
max   89,590.00 57,926.00      120,951.00            377.00      35,841.00

In [81]:
# correlation between variables in the tables
df.corr()

                   yes    no  response_clear  response_unclear  nonresponding
yes               1.00 -0.56            0.75              0.12          -0.37
no               -0.56  1.00            0.14              0.42           0.44
response_clear    0.75  0.14            1.00              0.48          -0.09
response_unclear  0.12  0.42            0.48              1.00           0.15
nonresponding    -0.37  0.44           -0.09              0.15           1.00

In [82]:
# grouping by state
df['state']

0                   New South Wales
1                   New South Wales
2                   New South Wales
3                   New South Wales
4                   New South Wales
                   ...
145                        Tasmania
146              Northern Territory
147              Northern Territory
148    Australian Capital Territory
149    Australian Capital Territory
Name: state, Length: 150, dtype: object

In [83]:
# calculate the number of electoral_divisions per state
df['state'].value_counts()

New South Wales                 47
Victoria                        37
Queensland                      30
Western Australia               16
South Australia                 11
Tasmania                         5
Australian Capital Territory     2
Northern Territory               2
Name: state, dtype: int64

In [84]:
# group
state_electorial_groups = df.groupby(['state']).sum()

In [85]:
state_electorial_groups

,yes,no,response_clear,response_unclear,nonresponding
state,,,,,
Australian Capital Territory,175459,61520,236979,534,50595
New South Wales,2374362,1736838,4111200,11036,1065445
Northern Territory,48686,31690,80376,229,57496
Queensland,1487060,961015,2448075,7088,695710
South Australia,592528,356247,948775,2778,242027
Tasmania,191948,109655,301603,805,77020
Victoria,2145629,1161098,3306727,11028,743634
Western Australia,801575,455924,1257499,3188,346333

In [86]:
state_electorial_groups['Total_Clear_Votes'] = state_electorial_groups['yes'] + state_electorial_groups['no']

In [87]:
state_electorial_groups

,yes,no,response_clear,response_unclear,nonresponding,Total_Clear_Votes
state,,,,,,
Australian Capital Territory,175459,61520,236979,534,50595,236979
New South Wales,2374362,1736838,4111200,11036,1065445,4111200
Northern Territory,48686,31690,80376,229,57496,80376
Queensland,1487060,961015,2448075,7088,695710,2448075
South Australia,592528,356247,948775,2778,242027,948775
Tasmania,191948,109655,301603,805,77020,301603
Victoria,2145629,1161098,3306727,11028,743634,3306727
Western Australia,801575,455924,1257499,3188,346333,1257499

In [88]:

state_electorial_groups['yes'].sum()

7817247

In [89]:
sum_yes = state_electorial_groups['yes'].sum()

In [90]:
state_electorial_groups['Percentage_yes'] = state_electorial_groups['yes']/sum_yes

In [91]:
state_electorial_groups

,yes,no,response_clear,response_unclear,nonresponding,Total_Clear_Votes,Percentage_yes
state,,,,,,,
Australian Capital Territory,175459,61520,236979,534,50595,236979,0.02
New South Wales,2374362,1736838,4111200,11036,1065445,4111200,0.30
Northern Territory,48686,31690,80376,229,57496,80376,0.01
Queensland,1487060,961015,2448075,7088,695710,2448075,0.19
South Australia,592528,356247,948775,2778,242027,948775,0.08
Tasmania,191948,109655,301603,805,77020,301603,0.02
Victoria,2145629,1161098,3306727,11028,743634,3306727,0.27
Western Australia,801575,455924,1257499,3188,346333,1257499,0.10

# End of Transform