# Removed headers from dataset and end rows containing text not relevant for coding

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Read Excel and specific tab
df = pd.read_excel("Resources/commonwealth electorate data.xls", sheet_name = "Table 2")

In [3]:
# Show first 5 rows
df.head()

,electoral_division,0 to 17 years old,18 to 34 years old,35 to 49 years old,50 to 64 years old,65 to 79 years old,80 years old and over
0,Adelaide,0.179,0.313,0.195,0.166,0.102,0.045
1,Aston,0.215,0.234,0.205,0.193,0.115,0.038
2,Ballarat,0.231,0.220,0.189,0.188,0.130,0.042
3,Banks,0.210,0.253,0.197,0.182,0.108,0.049
4,Barker,0.221,0.187,0.183,0.210,0.150,0.049

In [4]:
# Drop NA values
df = df.dropna(how="any")
df.head()

,electoral_division,0 to 17 years old,18 to 34 years old,35 to 49 years old,50 to 64 years old,65 to 79 years old,80 years old and over
0,Adelaide,0.179,0.313,0.195,0.166,0.102,0.045
1,Aston,0.215,0.234,0.205,0.193,0.115,0.038
2,Ballarat,0.231,0.220,0.189,0.188,0.130,0.042
3,Banks,0.210,0.253,0.197,0.182,0.108,0.049
4,Barker,0.221,0.187,0.183,0.210,0.150,0.049

In [5]:
# Count rows age demo
len(df)

151

In [6]:
# Read in electorate division info csv
div_df = pd.read_csv("01-output_electorate_division_information/electoral_division.csv")
div_df.head()

   division_id electoral_division state
0          179           Adelaide    SA
1          197              Aston   VIC
2          198           Ballarat   VIC
3          103              Banks   NSW
4          180             Barker    SA

In [7]:
# Add in division column to cultural_diversity df through left join
merged = df.merge(
                     div_df,  
                     on ='electoral_division',  
                     how ='left') 

merged.head()

,electoral_division,0 to 17 years old,18 to 34 years old,35 to 49 years old,50 to 64 years old,65 to 79 years old,80 years old and over,division_id,state
0,Adelaide,0.179,0.313,0.195,0.166,0.102,0.045,179.0,SA
1,Aston,0.215,0.234,0.205,0.193,0.115,0.038,197.0,VIC
2,Ballarat,0.231,0.220,0.189,0.188,0.130,0.042,198.0,VIC
3,Banks,0.210,0.253,0.197,0.182,0.108,0.049,103.0,NSW
4,Barker,0.221,0.187,0.183,0.210,0.150,0.049,180.0,SA

In [8]:
# Count rows merged df
len(merged)

151

In [9]:
# Show columns merge df
merged.columns

Index(['electoral_division', '0 to 17 years old', '18 to 34 years old',
       '35 to 49 years old', '50 to 64 years old', '65 to 79 years old',
       '80 years old and over', 'division_id', 'state'],
      dtype='object')

# TBC if we want state or not, can do group by functions on state level

In [10]:
# drop irrelevant columns
#merged.drop(["state"], axis=1, inplace=True)
#merged.head()

In [11]:
merged.head()

,electoral_division,0 to 17 years old,18 to 34 years old,35 to 49 years old,50 to 64 years old,65 to 79 years old,80 years old and over,division_id,state
0,Adelaide,0.179,0.313,0.195,0.166,0.102,0.045,179.0,SA
1,Aston,0.215,0.234,0.205,0.193,0.115,0.038,197.0,VIC
2,Ballarat,0.231,0.220,0.189,0.188,0.130,0.042,198.0,VIC
3,Banks,0.210,0.253,0.197,0.182,0.108,0.049,103.0,NSW
4,Barker,0.221,0.187,0.183,0.210,0.150,0.049,180.0,SA

In [12]:
# Round division_id

In [13]:
# Read Excel and specific tab population count
df = pd.read_excel("Resources/commonwealth electorate data.xls", sheet_name = "Table 1")

In [14]:
# Count rows pop count
len(df)

151

In [15]:
# Merge dataframes to add in pop count
merged2 = pd.merge(merged, df,  
                     on ='electoral_division',  
                     how ='left') 

merged2

,electoral_division,0 to 17 years old,18 to 34 years old,35 to 49 years old,50 to 64 years old,65 to 79 years old,80 years old and over,division_id,state,2017 Estimated Resident Population counts
0,Adelaide,0.179,0.313,0.195,0.166,0.102,0.045,179.0,SA,188410
1,Aston,0.215,0.234,0.205,0.193,0.115,0.038,197.0,VIC,161813
2,Ballarat,0.231,0.220,0.189,0.188,0.130,0.042,198.0,VIC,154461
3,Banks,0.210,0.253,0.197,0.182,0.108,0.049,103.0,NSW,164403
4,Barker,0.221,0.187,0.183,0.210,0.150,0.049,180.0,SA,171058
...,...,...,...,...,...,...,...,...,...,...
146,Werriwa,0.273,0.249,0.208,0.169,0.079,0.022,153.0,NSW,181173
147,Whitlam,0.234,0.200,0.184,0.188,0.144,0.049,150.0,NSW,158340
148,Wide Bay,0.213,0.151,0.176,0.227,0.183,0.049,178.0,QLD,147406
149,Wills,0.183,0.329,0.218,0.138,0.083,0.048,234.0,VIC,168833
150,Wright,0.256,0.202,0.206,0.192,0.117,0.027,316.0,QLD,165418

In [16]:
# Rename columns
merged2.rename(columns={"0 to 17 years old": "0-17", "18 to 34 years old": "18-34", "35 to 49 years old":"35-49", "50 to 64 years old":"50-64", "65 to 79 years old":"65-79", "80 years old and over":"80+", "2017 Estimated Resident Population counts":"pop_count_est"}, inplace=True)
merged2.head()

,electoral_division,0-17,18-34,35-49,50-64,65-79,80+,division_id,state,pop_count_est
0,Adelaide,0.179,0.313,0.195,0.166,0.102,0.045,179.0,SA,188410
1,Aston,0.215,0.234,0.205,0.193,0.115,0.038,197.0,VIC,161813
2,Ballarat,0.231,0.220,0.189,0.188,0.130,0.042,198.0,VIC,154461
3,Banks,0.210,0.253,0.197,0.182,0.108,0.049,103.0,NSW,164403
4,Barker,0.221,0.187,0.183,0.210,0.150,0.049,180.0,SA,171058

In [17]:
# Count rows merged2 df
len(merged2)

151

In [18]:
merged2.columns

Index(['electoral_division', '0-17', '18-34', '35-49', '50-64', '65-79', '80+',
       'division_id', 'state', 'pop_count_est'],
      dtype='object')

In [19]:
# Group by state and division, TBC whether we include state
df_final  = merged2.groupby(["state", "division_id"]).sum()
df_final

                    0-17  18-34  35-49  50-64  65-79    80+  pop_count_est
state division_id
ACT   101.0        0.178  0.325  0.196  0.159  0.101  0.041         133077
      102.0        0.255  0.282  0.234  0.137  0.075  0.017         142439
NSW   103.0        0.210  0.253  0.197  0.182  0.108  0.049         164403
      104.0        0.184  0.320  0.202  0.155  0.097  0.043         187865
      105.0        0.200  0.287  0.207  0.166  0.096  0.044         181093
...                  ...    ...    ...    ...    ...    ...            ...
WA    247.0        0.180  0.334  0.197  0.155  0.095  0.039         170358
      248.0        0.219  0.213  0.196  0.193  0.127  0.052         140682
      305.0        0.231  0.227  0.205  0.185  0.118  0.034         148225
      312.0        0.246  0.244  0.224  0.185  0.082  0.019         186187
      317.0        0.258  0.265  0.211  0.157  0.086  0.023         177620

[143 rows x 7 columns]

In [20]:
# check columns
df_final.columns

Index(['0-17', '18-34', '35-49', '50-64', '65-79', '80+', 'pop_count_est'], dtype='object')

In [21]:
# Count rows df_final
len(df_final)

143

# rows have disappeared above (from 151 to 143)!?

In [22]:
# check columns before grouping by bins
merged2.columns

Index(['electoral_division', '0-17', '18-34', '35-49', '50-64', '65-79', '80+',
       'division_id', 'state', 'pop_count_est'],
      dtype='object')

In [23]:
# Group by age bins
df_final_2 = merged2.groupby(["state", "division_id", '0-17', '18-34', '35-49', '50-64', '65-79', '80+']).sum()
df_final_2

                                                       pop_count_est
state division_id 0-17  18-34 35-49 50-64 65-79 80+
ACT   101.0       0.178 0.325 0.196 0.159 0.101 0.041         133077
      102.0       0.255 0.282 0.234 0.137 0.075 0.017         142439
NSW   103.0       0.210 0.253 0.197 0.182 0.108 0.049         164403
      104.0       0.184 0.320 0.202 0.155 0.097 0.043         187865
      105.0       0.200 0.287 0.207 0.166 0.096 0.044         181093
...                                                              ...
WA    247.0       0.180 0.334 0.197 0.155 0.095 0.039         170358
      248.0       0.219 0.213 0.196 0.193 0.127 0.052         140682
      305.0       0.231 0.227 0.205 0.185 0.118 0.034         148225
      312.0       0.246 0.244 0.224 0.185 0.082 0.019         186187
      317.0       0.258 0.265 0.211 0.157 0.086 0.023         177620

[143 rows x 1 columns]

In [24]:
# export df to csv
merged.to_csv("08-output_2016_commonwealth_electoral_population_age/08-extracting_transforming_commonwealth_electoral_population_age.csv")