# Removed headers from dataset and end rows containing text not relevant for coding (it came up with 159 rows and 8 duplicates (empty rows).

In [24]:
# Dependencies
import pandas as pd

In [25]:
# Read Excel and specific tab
df = pd.read_excel("Resources/commonwealth electorate data.xls", sheet_name = "Table 5")

In [26]:
# Show first 5 rows
df.head()

,electoral_division,Aboriginal and/or Torres Strait Islander peoples,Born overseas,Recent migrants (arrived 2006-2016),Language other than English spoken at home
0,Adelaide,0.012,0.350,0.176,0.346
1,Aston,0.005,0.302,0.088,0.252
2,Ballarat,0.013,0.105,0.030,0.053
3,Banks,0.008,0.389,0.128,0.452
4,Barker,0.025,0.109,0.032,0.057

In [27]:
# Show all columns
df.columns

Index(['electoral_division',
       'Aboriginal and/or Torres Strait Islander peoples', 'Born overseas',
       'Recent migrants (arrived 2006-2016)',
       'Language other than English spoken at home'],
      dtype='object')

In [28]:
# Show all datatypes
df.dtypes

electoral_division                                   object
Aboriginal and/or Torres Strait Islander peoples    float64
Born overseas                                       float64
Recent migrants (arrived 2006-2016)                 float64
Language other than English spoken at home          float64
dtype: object

In [29]:
# Checking for duplicates in divisions
df['electoral_division'].is_unique

True

In [30]:
# Count rows (INCLUDE IN REPORT: removed text in databasae as these were considered rows (159 rows in total and duplicates)) how come 150 in other files?
len(df)

151

In [31]:
# Drop duplicates and count again (INCLUDE IN REPORT: after removing text and empty rows as per step above, there were no duplicates
df = df.dropna(how="any")
len(df)

151

In [32]:
# Renaming df
cultural_div_df = df

In [33]:
# Renaming columns
cultural_div_df.columns = ['electoral_division', 'aboriginal_tsi', 'born_overseas', 'recent_migrants', 'language_home_no_english']
cultural_div_df.head()

,electoral_division,aboriginal_tsi,born_overseas,recent_migrants,language_home_no_english
0,Adelaide,0.012,0.350,0.176,0.346
1,Aston,0.005,0.302,0.088,0.252
2,Ballarat,0.013,0.105,0.030,0.053
3,Banks,0.008,0.389,0.128,0.452
4,Barker,0.025,0.109,0.032,0.057

In [34]:
cultural_div_df.dtypes

electoral_division           object
aboriginal_tsi              float64
born_overseas               float64
recent_migrants             float64
language_home_no_english    float64
dtype: object

# What do percentages mean? is that % of 100%? should each row add up to 100% and the gap is australian?

In [35]:
# Read in electorate division info csv
div_df = pd.read_csv("01-output_electorate_division_information/electoral_division.csv")
div_df.head()

   division_id electoral_division state
0          179           Adelaide    SA
1          197              Aston   VIC
2          198           Ballarat   VIC
3          103              Banks   NSW
4          180             Barker    SA

In [36]:
# Checking for duplicates
div_df['division_id'].is_unique

True

In [37]:
div_df.dtypes

division_id            int64
electoral_division    object
state                 object
dtype: object

In [38]:
# Add in division column to cultural_diversity df through left join
merged = cultural_div_df.merge(
                     div_df,  
                     on ='electoral_division',  
                     how ='left') 

merged.head()

,electoral_division,aboriginal_tsi,born_overseas,recent_migrants,language_home_no_english,division_id,state
0,Adelaide,0.012,0.350,0.176,0.346,179.0,SA
1,Aston,0.005,0.302,0.088,0.252,197.0,VIC
2,Ballarat,0.013,0.105,0.030,0.053,198.0,VIC
3,Banks,0.008,0.389,0.128,0.452,103.0,NSW
4,Barker,0.025,0.109,0.032,0.057,180.0,SA

In [39]:
# show datatypes
merged.dtypes

electoral_division           object
aboriginal_tsi              float64
born_overseas               float64
recent_migrants             float64
language_home_no_english    float64
division_id                 float64
state                        object
dtype: object

# How to convert float to int to get rid of the decimals for division_id?

In [40]:
# round division_id

In [41]:
# set index to division_id
merged.set_index(["division_id"], inplace=True)

In [42]:
#Show columns merge ddf
merged.columns

Index(['electoral_division', 'aboriginal_tsi', 'born_overseas',
       'recent_migrants', 'language_home_no_english', 'state'],
      dtype='object')

In [43]:
# drop irrelevant columns
merged.drop(["state"], axis=1, inplace=True)

In [44]:
# Show top 5 rows
merged.head()

,electoral_division,aboriginal_tsi,born_overseas,recent_migrants,language_home_no_english
division_id,,,,,
179.0,Adelaide,0.012,0.350,0.176,0.346
197.0,Aston,0.005,0.302,0.088,0.252
198.0,Ballarat,0.013,0.105,0.030,0.053
103.0,Banks,0.008,0.389,0.128,0.452
180.0,Barker,0.025,0.109,0.032,0.057

In [45]:
# export df to csv
merged.to_csv("09-output_2016_commonwealth_electoral_cultural_diversity/cultural_diversity.csv")