In [1]:
# Imports
import pandas as pd

In [2]:
# Setting the url
url = 'https://results.aec.gov.au/20499/Website/HouseDivisionClassifications-20499-NAT.htm'

In [6]:
# Using read_html function in Pandas to automatically scrape any tabular data from the webpage
table = pd.read_html(url)
table

[            Division            State  Enrolment         Demographic  \
 0           Adelaide               SA     109217  Inner Metropolitan
 1              Aston              VIC      96043  Outer Metropolitan
 2           Ballarat              VIC     110755          Provincial
 3              Banks              NSW     104891  Inner Metropolitan
 4             Barker               SA     105600               Rural
 ..               ...              ...        ...                 ...
 146          Whitlam              NSW     112051          Provincial
 147         Wide Bay              QLD     102856               Rural
 148            Wills              VIC     113851  Inner Metropolitan
 149           Wright              QLD      99969               Rural
 150  Total Enrolment  Total Enrolment   15671551                 NaN

              Previous party Previous seat status        Successful party  \
 0    Australian Labor Party             Marginal  Australian Labor Party
 1                   Liberal          Fairly Safe                 Liberal
 2    Australian Labor Party             Marginal  Australian Labor Party
 3                   Liberal             Marginal                 Liberal
 4                   Liberal                 Safe                 Liberal
 ..                      ...                  ...                     ...
 146  Australian Labor Party          Fairly Safe  Australian Labor Party
 147  Liberal National Party                 Safe  Liberal National Party
 148  Australian Labor Party                 Safe  Australian Labor Party
 149  Liberal National Party                 Safe  Liberal National Party
 150                     NaN                  NaN                     NaN

      Seat status
 0       Marginal
 1    Fairly Safe
 2    Fairly Safe
 3       Marginal
 4       Marginal
 ..           ...
 146         Safe
 147  Fairly Safe
 148     Marginal
 149  Fairly Safe
 150          NaN

 [151 rows x 8 columns]]

'table' is a list containing one table, this can be accessed using table[0]

In [7]:
# Accessing the dataframe
election_results_df = tables[0]
election_results_df.head()

,Division,State,Enrolment,Demographic,Previous party,Previous seat status,Successful party,Seat status
0,Adelaide,SA,109217,Inner Metropolitan,Australian Labor Party,Marginal,Australian Labor Party,Marginal
1,Aston,VIC,96043,Outer Metropolitan,Liberal,Fairly Safe,Liberal,Fairly Safe
2,Ballarat,VIC,110755,Provincial,Australian Labor Party,Marginal,Australian Labor Party,Fairly Safe
3,Banks,NSW,104891,Inner Metropolitan,Liberal,Marginal,Liberal,Marginal
4,Barker,SA,105600,Rural,Liberal,Safe,Liberal,Marginal

In [1]:
# What columns do we want to take from this
# Rename these so it matches folder 02
# Do we want to set index to division ID like Catherine did